html{
	font-size: 20px;
	font-family: Arial, sans-serif;
}
p{
	padding: 0;
	margin: 0;
}
.content{
	max-width: 1000px;
	margin: 0 auto 0 auto;
	display: flex;
}
.сontainerb{
	margin: 10px 0 10px 0;
}
.button{
	border: 2px solid black;
	cursor: pointer;
	text-align: center;
}
.button:hover{
	background-color:  #9c8d8d; 
}
#menu{
	flex: 1;
	/*background-color:  darksalmon; */
	height: 70vh;
	flex-direction: column;
	justify-content: center;
	background: #afdff4d4;
	padding: 5px;
}
.elem{
	margin-bottom: 10px;
}
.ramka{
	padding: 10px 0 10px 5%;
    width: 95%;
    background: #afdff4d4;
    color: #161515;
    display: block;
}
.countCell{
	width: 88%;
}
#playGround{
	/*width: 100%;*/
	flex: 4;
	text-align: center;
}
.sudoku{
	display: inline-table;
	/*border: solid 2px;*/
	border-spacing: 1px; 
}

.sudoku td{
	border: solid 1px;
	text-align: center;
	width: 1.5rem;
	height: 1.5rem;
}
.sudoku td.top{
	border-top: solid 2px;
}
.sudoku td.bottom {
	border-bottom: solid 2px;
}
.sudoku td.left {
	border-left: solid 2px;
}
.sudoku td.right{
	border-right: solid 2px;
}
.sudoku input{
	width: inherit;
	height: inherit;
	padding: 0;
	text-align: center;
	color: brown;
	/*background: none;*/
}
.sudoku .marked{
	background-color: #9ce29c;
}
.sudoku .mistake{
	background-color: darksalmon;
}
.timer .display{
	margin: 2rem;
}